{% extends 'base.html' %}

{% block title %}
    Eliminar Empleado
{% endblock title %}


{% block content %}

    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">Eliminar Empleado:{{ object.first_name}}</h1>

            <form class="cell" method="POST">{% csrf_token %}

                <div class="callout secondary">
                    <h5>¿Desea Eliminar este Empleado?</h5>
                    <p>Recuerde que al eliminar perdera todos los datos correspondientes a este empleado</p>
                    <button type="submit" class="alert button">Eliminar</button>
                    <button type="button">
                        <a class="button secondary" href="{% url 'persona_app:empleados_admin' %}">Cancelar</a>
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock content %}